body{
    background-image: url("BlackJack.jpg");
    background-size: cover;
    text-align: center;
}


h1{
    color: white;
}

.paragraph{
    color: white
}

#message-el{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-style: italic;
}

#start-btn{
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: green;
    background-color: goldenrod;
    margin-bottom: 5px;
    width: 150px;
}

#new-card-btn{
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: green;
    background-color: goldenrod;
    width: 150px;
}

#player-el{
    color: white;
    font-size: larger;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}